<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   AltCaps

   Created by Faraz Alam on 5/14/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <!-- Identity -->
      <key>CFBundleIdentifier</key>
      <string>io.fqa.AltCaps</string>
      <key>CFBundleName</key>
      <string>AltCaps</string>
      <key>CFBundleDisplayName</key>
      <string>AltCaps</string>
      <key>CFBundleShortVersionString</key>
      <string>1.0</string>
      <key>CFBundleVersion</key>
      <string>1</string>

      <!-- Icon from your asset catalog -->
      <key>CFBundleIconName</key>
      <string>AppIcon</string>
      
      <!-- iMessage host prohibition -->
      <key>LSApplicationLaunchProhibited</key>
      <true/>
</dict>
</plist>
